* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #202040;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.navbar-custom {
  background-image: linear-gradient(#202040, #141E30);
}

.navbar-custom .nav-link {
  color: #fff;
  font-size: 20px;
  margin-right: 2.5rem;
}

.home {
  height: 90vh;
  /* background-color: #141E30; */
  background-image: linear-gradient(#141E30, #202040, #141E30);
}

.hi {
  /* font-weight: bold; */
  font-size: 27px;
  color: #3ddb7a;
}

.start {
  padding-top: 15%;
}

.my-name {
  font-weight: 900;
  font-size: 90px;
  color: #DFE1E6;
  line-height: 105px;
}

.my-title {
  font-weight: 500;
  font-size: 60px;  
  color: #9391FF;
}

.project-img,
.profile-img {
  max-width: 100%;
  height: auto;
}

.profile-wraper {  
  max-width: 450px;
  /* height: 320px; */
}

.nav .nav-item {
  font-size: 15px;
  line-height: 28px;
}

.about {
  background-color: #141E30;
}

.skills {
  padding-top: 20%;
}

.skills,
.contact,
.about {
  height: 70vh;
}

.project-img-wrapper {
  width: 500px;
  max-height: 350px;
  overflow: hidden;
}

.sections-title {
  text-align: left;
  /* border-bottom: 1px solid #646369; */
  padding-bottom: 20px;
  color: #9390FF;
  font-weight: bold;
  font-size: 30px;
}


.description {
  text-align: left;
}

.sub-title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 40px;
}

.proj-description {
  color: #DFE1E6;
  line-height: 28px;
}

.projects-wrapper {
  height: 40vh;
}

.btn-b {
  background: transparent;
  margin: 5px;
  border: 1px solid #3ddb7a;
  color: #DFE1E6;
}

.a-tags:hover,
.btn-b:hover {
  text-decoration: none;
  color: #9390FF;
}

.work-description {
  height: 200px;
  overflow-y: scroll;
  background-color: #202040;
  padding: 20px;
  /* border: 1px solid #3ddb7a; */
  border-radius: 10px;
}

.contact-section {
  background-color: #141E30;
  margin-top: 100px;
}

.about,
.contact {
  padding-top: 8%;
}

.contacts-list{
  font-size: 25px;
}

.a-tags,
.brand,
.contacts,
.icon-color,
.nav-link:hover {
  color: #3ddb7a;
}

@media only screen and (max-width: 600px) {
  .home {
    height: 100vh;
    text-align: center;
    /* padding-top: 20px; */
  }
  .start {
    padding-top: 3%;
  }

  .about {
    height: 100vh;
    /* padding-top: 3%; */
  }

  .skills{
    height: 100vh;
    /* padding-top: 3%; */
  }
}
